.section {
    display: flex;
    flex-direction: column;
    padding: 3.2rem 1.6rem;
    gap: 1.6rem;
}

.section__title{
    color: var(--violet--700);
}


@media (min-width: 1024px) {
    .section {
        padding: 12rem 6.4rem;
        gap: 1.6rem;
    }

}

@media (min-width: 1400px) {
    .section {
        padding: 15rem 10.4rem;
        gap: 1.6rem;
    }
}

@media (min-width: 1700px) {
}