@import url('styles/standard.css');

.navegation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 1.6rem;
    border-bottom: 1px var(--violet--900) solid;
}

.links-menu {
    display: none;
    align-items: center;
    gap: 2.4rem;
}

.link-menu {
    display: inline-flex;
    text-decoration: none;
    color: var(--yellow--50);
}

.link-menu:hover {
    color: var(--yellow--400);
}

.navegation__logo {
    height: 2.4rem;
}

.navegation__links {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

@media (min-width: 1024px) {

    .navegation {
        padding: 2.4rem 6.4rem;
    }

    .links {
        display: flex;
    }

    .navegation__logo {
        height: 3.2rem;
    }
}

@media (min-width: 1400px) {
    .navegation {
        padding: 2.4rem 10.4rem;
    }

    .navegation__logo {
        height: 4.8rem;
    }

    .navegation__links {
        gap: 2.4rem;
    }
}
@media (min-width: 1700px) {
    .navegation {
        padding: 2.4rem 12rem;
    }

    .navegation__logo {
        height: 4.8rem;
    }

    .navegation__links {
        gap: 2.4rem;
    }
}