footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.2rem 0;
}

footer p{
    color: var(--yellow--50);
}

footer p strong{
    color: var(--violet--700);
    font-weight: 700;
}
footer p strong:hover{
    color: var(--yellow--400);
}