.contact__subtitle{
    color: var(--yellow--50);
}

.contact__container{
    display: flex;
    gap: 1.6rem;
}

.Home__button__icon{
    fill: var(--woodsmoke--950);
    width: 2rem;
    height: 2rem;
}