.contact__subtitle{
    color: var(--yellow--50);
}

.contact__container{
    display: flex;
    gap: 1.6rem;
}

.Home__button__icon{
    fill: var(--woodsmoke--950);
}

.projects__list{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

@media (min-width: 1024px) {
    .projects__list{
        gap: 2.4rem;
    }
}
