.cardProjects {
    width: 100%;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    border-radius: 0.8rem;
    border: 1px solid var(--violet--900);
}

.cardProjects__content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.6rem;
}

.cardProjects__img {
    width: 100%;
}

.cardProjects__hightlight {
    color: var(--violet--900);
    padding: 1.6rem 0 .4rem;
}

.cardProjects__name,
.cardProjects__description {
    color: var(--yellow--50);
}

.cardProjects__list-technology {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    list-style: none;
    padding: .4rem 0;
    color: var(--violet--900);
}

.cardProjects__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardProjects__buttons {
    display: flex;
    gap: 1.6rem;
}

.cardProjects__buttons__icon {
    fill: var(--woodsmoke--950);
    width: 2rem;
    height: 2rem;
}

@media (min-width: 800px) {
    .cardProjects {
        padding: 2.4rem 1.6rem;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 2.4rem;
    }

    .cardProjects__content {
        width: 50%;
        justify-content: space-between;
        flex-direction: column;
        gap: 1.6rem;
    }
    .cardProjects__img {
        width: 50%;
        object-fit: contain;
    }

}

@media (min-width: 1024px) {
    .cardProjects__content {
        width: 50%;
    }
}

@media (min-width: 1400px) {
    .cardProjects {
        padding: 3.2rem 3.2rem;
    }

    .cardProjects__content {
        width: 50%;
        flex-direction: column;
    }
    .cardProjects__img {
        width: 44%;
    }
}