.sobre__img {
    width: 100%;
    border: .3rem solid var(--violet--900);
}

.sobre__container {
    display: flex;
    justify-content: space-between;
    margin: 1.6rem 0;
}

.sobre__text {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.sobre__text__title {
    color: var(--yellow--50);
}

.sobre__text__paragraph {
    color: var(--yellow--50);
}

.sobre__text__link {
    color: var(--violet--500);
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
}

.sobre__text__link:hover {
    color: var(--yellow--400);
}

.training__type-text{
    color: var(--violet--900);
}

.training__list{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    list-style: none;
    margin-bottom: 1.6rem;
}

.training__list__itens{
    display: flex;
    flex-direction: column;
}

.training__list__itens__title{
    color: var(--yellow--50);
}

.training__list__itens__date{
    color: var(--yellow--50);
}

.hard-skills , .soft-skills{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
}

.hard-skills__title , .soft-skills__title{
    color: var(--yellow--50);
}

.hard-skills__list , .soft-skills__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.hard-skills__list__itens{
    display: inline-flex;
}

.hard-skills__list__itens__text {
    color: var(--yellow--50);
    display: inline-flex;
    align-items: center;
}
.soft-skills__list__itens__text{
    color: var(--yellow--50);
}

.hard-skills__list__itens__text--bold , .soft-skills__list__itens__text--bold{
    color: var(--violet--900);
    display: inline-flex;
    align-items: center;
    gap: .8rem;
}

.hard-skills__list__itens__icon{
    width: 2rem;
    height: 2rem;
}

@media (min-width: 800px) {
    .sobre-organization {
        display: grid;
        grid-template-columns: 1.2fr .8fr;
        grid-template-rows: 1fr;
        gap: 1.6rem 2.4rem;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;

    }

    .sobre__container {
        margin: 0 0;
        justify-content: center;
        gap: 1rem 1.6rem;
        flex-wrap: wrap;
    }


    .sobre__img,
    .sobre__container {
        grid-column: 2;
    }

    .sobre__text {
        grid-row: 1/3;
    }
    
}

@media (min-width: 1024px) {
    .sobre__container {
        flex-wrap: wrap;
    }

    .sobre-organization {
        grid-template-columns: 1.1fr .9fr;
        gap: 1rem 3.2rem;
    }
    .training__list{
        gap: 2.4rem;
        margin-bottom: 2.4rem;
    }

    .hard-skills , .soft-skills{
        margin-bottom: 2.4rem;
    }
    

    .hard-skills__list , .soft-skills__list{
        gap: 2.4rem;
    }
    
    .hard-skills__list__itens__text--bold , .soft-skills__list__itens__text--bold{
        gap: 1.6rem;
    }

}

@media (min-width: 1400px) {
    .sobre__img {
        width: 80%;
    }

    .sobre-organization {
        gap: 1rem 3.2rem;
    }
    .training__list{
        gap: 3.2rem;
        margin-bottom: 3.2rem;
    }

    .hard-skills , .soft-skills{
        margin-bottom: 3.2rem;
    }

}