.link-navegation {
    display: inline-flex;
    text-decoration: none;
    color: var(--yellow--50);
    padding: .3rem 1rem;
}

.link-navegation:hover{
    color: var(--yellow--400);
}

.link-navegation--active{
    color: var(--violet--700);
    pointer-events: none;
}